<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizlist - Javascript Quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/new_quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include("partials/_header") %>
  
  <main>
    <section id="new-quiz-header">
      <div>
        <label for="new-quiz-title">Quiz title:</label>
        <input id="new-quiz-title-input" type="text" name="new-quiz-title"/>
      </div>
      <div>
        <label for="new-quiz-desc">Quiz description:</label>
        <textarea id="new-quiz-desc-input" name="new-quiz-desc"></textarea>
      </div>
    </section>

    <div class="question-container">
      <section class="new-question">
        <textarea class="new-question-desc">What is your question?</textarea>
        <textarea class="new-question-answer">What is the answer?</textarea>
      </section>
    </div>
    
    <button type="button" id="add-question-button">Add Question</button>
    
    <div id="settings">
      <br><br>
      <input type="checkbox" name="toggle-private-box" id="toggle-private-box" value="private"></input>
      <label for="toggle-private-box">Unlisted</label>
      <br><br>
      <button type="button" id="create-quiz-button">Create Quiz</button>
    </div>
  </main>
</body>

</html>