<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizlist - Javascript Quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include("partials/_header") %>
  
  <main>
    <form action="/attempt" method="POST">
      <span id="quiz-title">Javascript Quiz</span>
      
      <section class="question">
        <div class="question-info">
          <span class="question-title">Question 1</span>
          <p class="question-desc">Lorem ipsum</p>
        </div>
        <textarea class="user-answer"></textarea>
      </section>
      
      <button type="submit" id="submit-answers-button">Submit Answers</button>
    </form>
  </main>
</body>

</html>