<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizlist Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/result.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include("partials/_header") %>
  
  <main>
    <div id="quiz-banner">
      <span id="result-user">sander798</span>
      <span id="result-quiz-title">Javascript Quiz Results</span>
      <span id="result-date">1 / 1 / 23</span>
      <span id="result-total">1 / 2</span>
    </div>
  
    <div class="result-question-container">
      <section class="result-question">
        <div class="answer-info">
          <div class="answer-header">
            <span class="question-title">Question 1</span>
            <span class="answer-result">Correct!</span>
          </div>
          <p class="question-desc">Lorem ipsum</p>
        </div>
        <textarea class="user-answer"></textarea>
      </section>
    </div>
    
  </main>
</body>

</html>