nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4D6FE3;
  font-size: 24px;
}

.navbar-brand {
  color: #ffffff;
  margin: 0.2em;
  font-size: 40px;
}

#navbarNavAltMarkup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.7em;
}

#new-quiz-link {
  margin-right: 1em;
  color: white;
  background-color: #4056A1;
  padding: 0.2em;
  border-width: 2px;
  border-color: black;
}


